header{
background-color: rgb(226, 43, 128);/*cor de fundo*/
color: black;/*cor da fonte*/
}
main{
    background-color: #69023e;
    color: #b30068;
}

footer{
    background-color: #801a55;
    color: #b4789b;
}